{
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "^react(.*)", 
    "<THIRD_PARTY_MODULES>",
    "^(assets|constants|helpers|hooks|components)/?(.*)$",
    "^[./]"
    ],
  "importOrderSortSpecifiers": true
}