.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    width: 20%;
    pointer-events: none;
}

@media only screen and (max-width: 1276px) {
    .skill {
        width: 25%;
        max-width: none;
    }
}

@media only screen and (max-width: 1024px) {
    .skill {
        width: calc(100% / 3);
        max-width: none;
    }
}

@media only screen and (max-width: 769px) {
    .skill {
        width: 50%;
        max-width: none;
    }
}

@media only screen and (max-width: 480px) {
    .skill {
        width: 100%;
        max-width: none;
    }
}