.home {
  height: 100vh;
  padding-left: 10%;
  justify-content: center;
  color: #ffff;

  .initials {
    margin-left: auto;
    margin-right: 100px;
    margin-top: 360px;
    background-color: #040b148a;
    width: fit-content;
    padding: 1rem;
  }
}

.home-full-name {
  width: 100%;
  margin-top: 0;
}

.profession-wrapper {
  margin-top: 0;
}

.profession {
  border-bottom: 4px solid var(--contrast);
  padding-bottom: 4px;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blinking {
  -webkit-animation: fadeInFromNone 700ms infinite;
  -moz-animation: fadeInFromNone 700ms infinite;
  -o-animation: fadeInFromNone 700ms infinite;
  animation: fadeInFromNone 700ms infinite;
}

@media only screen and (max-width: 769px) {
  .home {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 768px) {
  .home {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 769px) {
  .initials {
    font-size: 12px;
  }
}
