.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.fields .field:not(.textarea) {
    width: calc(100% / 3 - 1rem);
}

.field.textarea {
    width: 100%;
}

.fields textarea,
.fields input {
    width: 100%;
}