.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.field.error input,
.field.error textarea {
    border: 1px solid rgb(255, 0, 0);
}

.field.error label,
.field.error {
    color: rgba(255, 0, 0, 0.966);
}

.field input,
.field textarea {
    padding: .75rem 1rem;
    margin-top: .5rem;
    border-radius: 4px;
    border: 1px solid lightgray;
    font-family: 'Montserrat', serif;
    background-color: transparent;
}

.field input:focus-within,
.field textarea:focus-within {
    outline: none;
    border: 1px solid #39CCCC;
}

.fields .field:not(.textarea) {
    width: calc(100% / 2 - .5rem);
}

.fields .field.textarea {
    width: 100%;
}

.fields textarea,
.fields input {
    width: 100%;
}

.form button {
    all: unset;
    display: block;
    margin: 1rem auto 0 auto;
    background-color: #39CCCC;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
}

.form button:hover {
    background-color: #39ccccd8;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.successDialog {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    color: var(--contrast);
}

@media only screen and (max-width: 768px) {
    .fields .field {
        width: 100% !important;
    }
}