.sidebar {
  min-width: 300px;
  background-color: var(--primary);
  overflow: hidden;
  position: relative;
}

.sidebar.mobile {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.sidebar.desktop {
  height: 100vh;
}

.sidebar.closed {
  opacity: 0.1;
  transform: translateY(100%);
  transition: 0.2s ease-out;
}

.sidebar.opened {
  opacity: 1;
  transform: translateY(0);
  transition: 0.2s ease-out;
}
