.footer {
    position: absolute;
    bottom: 30px;
    left: 0;
    color: var(--text);
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 768px) and (orientation: landscape) and (hover: none) {
    .footer {
        display: none;
    }   
}