.mobile-menu-btn {
  position: absolute !important;
  z-index: 2;
}

.mobile-menu-open-btn {
  bottom: 30px;
  right: 30px;
  background-color: var(--tertiary) !important;
  padding: 16px !important;
}

.mobile-menu-close-btn {
  top: 20px;
  right: 20px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}