.mobile-menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(calc(100%));
  z-index: 54;
}

.mobile-menu .sidebar {
  height: -webkit-fill-available;
}

.mobile-menu-open-trigger {
  height: 85px;
  width: 50px;
  /* background-color: aqua; */
  border-top: 3px solid lightgray;
  touch-action: none;
  transform: translateY(-50%);
  margin: auto;
  z-index: 465465465;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}