.mobile-menu-btn {
  position: absolute !important;
  z-index: 2;
}

.mobile-menu-open-btn {
  bottom: 30px;
  right: 30px;
  background-color: var(--contrast) !important;
  padding: 16px !important;
}

.mobile-menu-close-btn {
  top: 20px;
  right: 20px;
}

@media only screen and (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) and (hover: none) {
  .mobile-menu {
    font-size: 12px;
  }
}