.mobile-menu-btn {
  position: absolute !important;
  z-index: 2;
}

.mobile-menu-open-btn {
  bottom: 30px;
  right: 30px;
  background-color: var(--contrast) !important;
  padding: 16px !important;
}

.mobile-menu-close-btn {
  top: 20px;
  right: 20px;
}

.mobile-menu .sidebar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}


@media only screen and (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
}

@media (orientation: landscape) and (hover: none){
  .mobile-menu {
    display: block;
  }
}