.avatar-wrapper {
    display: flex;
    flex-direction: column;
    user-select: none;
    pointer-events: none;
}

.avatar-wrapper img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 8px solid #2c2f3f;
    border-radius: 100%;
    box-sizing: border-box;
    margin: auto;
}

.avatar-wrapper .full-name {
    color: #fff;
    text-align: center;
}