body {
  margin: 0;
  font-family: 'Montserrat', serif;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .app {
    flex-wrap: wrap;
  }
}

@media (orientation: landscape) and (hover: none){
  html {
    font-size: 14px;
  }

  .app {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 368px) {
  html {
    font-size: 12px;
  }
}