.bgAvatar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: var(--primary);
}

.bgAvatar img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;

  @media (min-width: 1276px) {
    width: 100%;
    height: auto;
  }
}
